.DS_Store
.env
.ipynb_checkpoints
.pytest_cache
.vscode
__pycache__

./Dockerfile
.dockerignore
.ebignore

depreciated.md


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
